#grid 
    width: 90%
    border: 1px solid black
    display: flex

    .activeGrid
        width: 100%

        .column 
            width: 12.86%
            height: auto
            display: flex 

            .cell 
                display: flex
            
            .cell :nth-child(2n + 2) 
                margin: 0

        .line, .del_wrap2
            width: 100%
            display: flex

            .cell 
                display: flex
            
        
        .line :nth-child(2n + 2) 
            margin: 0

.addition 
    flex-direction: column

.theme_light
.theme_dark
.activity_light
    .wrap   /* 5-6 cell */
        #big_cell 
            width: inherit
            height: inherit
            background: radial-gradient(66.02% 86.49% at -16.18% 13.51%, rgba(255, 186, 6, 0.85) 0%, #FFF2AD 100%)
            box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.4)
            filter: blur(1px)
            clip-path: polygon(0% 22%, 35% 0%, 70% 22%, 35% 44%)
            position: absolute
            z-index: 5
        #lil_cell 
            width: inherit
            height: inherit
            background: radial-gradient(116.18% 129.05% at -16.18% 13.51%, #FFDD9C 0%, #FFD363 100%)
            box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.4)
            border-radius: 4px 
            clip-path: polygon(0% 22%, 35% 0%, 70% 22%, 70% 78%, 35% 100%, 0% 78%)
            position: absolute
            z-index: 3
        #lil_cell_2 
            width: inherit
            height: inherit
            background: radial-gradient(63.52% 63.51% at 47.06% 29.73%, rgba(255, 184, 0, 0.4) 0%, rgba(255, 239, 153, 0.348) 100%)
            box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.6)
            border-radius: 2px
            clip-path: polygon(35% 0%, 70% 22%, 70% 78%, 35% 100%)
            position: absolute
            z-index: 4
    .wrap3   /* 3-4 cell */
        #big_cell3 
            width: inherit
            height: inherit 
            background: radial-gradient(1700.94% 3125.96% at 89.71% 72.89%, rgba(255, 250, 237, 0.8) 3.65%, rgba(255, 237, 201, 0.8) 100%)
            box-shadow: inset -2px 0px 1px rgba(255, 255, 255, 0.9), inset 2px 2px 16px rgba(255, 184, 0, 0.2) 
            filter: blur(1px)
            clip-path: polygon(0% 40%, 35% 18%, 70% 40%, 35% 62%)
            position: absolute
            z-index: 5
        #lil_cell3 
            width: inherit
            height: inherit
            background: radial-gradient(68.1% 68.1% at 4.41% 31.9%, #FFFFFE 0%, #FFF6E4 100%)
            box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.4)
            border-radius: 4px 
            clip-path: polygon(0% 40%, 35% 18%, 70% 40%, 70% 78%, 35% 100%, 0% 78%)
            position: absolute
            z-index: 3
        #lil_cell_23 
            width: inherit
            height: inherit
            background: radial-gradient(121.55% 121.55% at 47.06% 12.07%, rgba(255, 234, 180, 0.8) 0%, rgba(255, 231, 180, 0.8) 100%)
            box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.4)
            border-radius: 2px
            clip-path: polygon(35% 18%, 70% 40%, 70% 78%, 35% 100%)
            position: absolute
            z-index: 4
    .wrap2  /* 1-2 cell */
        #big_cell2 
            width: inherit
            height: inherit 
            background: radial-gradient(2249.84% 2709.39% at 89.71% 72.89%, rgba(247, 247, 247, 0.9) 0%, rgba(234, 232, 232, 0.9) 100%)
            box-shadow: inset -2px 0px 1px rgba(252, 252, 252, 0.8), inset 2px 2px 6px rgba(219, 216, 215, 0.6)
            filter: blur(1px)
            clip-path: polygon(0% 55%, 35% 33%, 70% 55%, 35% 77%)
            position: absolute
            z-index: 1
        #lil_cell2 
            width: inherit
            height: inherit
            background: radial-gradient(5752.25% 5190.32% at 74.43% 60.32%, rgba(234, 232, 232, 0.9) 0%, rgba(238, 237, 236, 0.9) 100%)
            box-shadow: inset -1px 0px 1px rgba(247, 247, 247, 0.2), inset 2px 2px 10px rgba(208, 210, 231, 0.6)
            border-radius: 4px 
            clip-path: polygon(0% 55%, 35% 33%, 70% 55%, 70% 78%, 35% 100%, 0% 78%)
            position: absolute
            z-index: -3
        #lil_cell_22 
            width: inherit
            height: inherit
            background: radial-gradient(2416.97% 5913.28% at 120.59% 117.86%, rgba(232, 230, 230, 0.9) 0%, rgba(214, 211, 209, 0.9) 100%)
            box-shadow: inset -1px 1px 1px rgba(247, 247, 247, 0.5), inset 2px 2px 16px rgba(200, 196, 194, 0.3)
            border-radius: 2px
            clip-path: polygon(35% 33%, 70% 55%, 70% 78%, 35% 100%)
            position: absolute
            z-index: -1
    .wrap4  /* 0 cell */
        #big_cell4 
            width: inherit
            height: inherit 
            background: radial-gradient(94.12% 71.74% at 104.41% 57.69%, rgba(250, 250, 250, 0.9) 0%, rgba(248, 248, 248, 0.9) 100%)
            box-shadow: inset -2px 0px 1px rgba(250, 250, 250, 0.8), inset 2px 2px 20px rgba(164, 164, 164, 0.2)
            filter: blur(1px)
            clip-path: polygon(0% 68%, 35% 46%, 70% 68%, 35% 88%)
            position: absolute
            z-index: 1
        #lil_cell4 
            width: inherit
            height: inherit
            background: radial-gradient(2408.25% 2730.55% at 89.06% 78.28%, rgba(250, 250, 250, 0.8) 0%, rgba(250, 250, 250, 0.8) 100%)
            box-shadow: inset -1px 0px 2px rgba(250, 250, 250, 0.2), inset 1px 1px 16px rgba(106, 106, 106, 0.2)
            border-radius: 2px 
            clip-path: polygon(0% 68%, 35% 46%, 70% 68%, 70% 78%, 35% 100%, 0% 78%)
            position: absolute
            z-index: -3
        #lil_cell_24 
            width: inherit
            height: inherit
            background: radial-gradient(179.41% 233.89% at 85.29% 40.48%, rgba(234, 234, 234, 0.8) 0%, rgba(233, 233, 233, 0.8) 0.01%, rgba(228, 228, 228, 0.8) 100%)
            box-shadow: inset -1px 1px 1px rgba(250, 250, 250, 0.5)
            border-radius: 2px
            filter: blur(2px)
            clip-path: polygon(35% 46%, 70% 68%, 70% 78%, 35% 100%)
            position: absolute
            z-index: -1

.activity_dark
    .wrap  /* 5-6 cell */
        width: 50px
        height: 70px
        #big_cell 
            width: inherit
            height: inherit
            background: radial-gradient(5254.03% 1343.36% at 56.33% 94.86%, rgba(32, 21, 2, 0.8) 0%, rgba(199, 131, 10, 0.8) 100%)
            box-shadow: inset -2px 0px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 31px rgba(242, 159, 13, 0.9)
            filter: blur(1px)
            clip-path: polygon(0% 22%, 35% 0%, 70% 22%, 35% 44%)
            position: absolute
            z-index: 5
        #lil_cell 
            width: inherit
            height: inherit
            background: radial-gradient(2258.03% 620.37% at 83.33% 88.95%, #201502 0%, #C7830A 100%)
            box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 10px rgba(242, 159, 13, 0.9)
            clip-path: polygon(0% 22%, 35% 0%, 70% 22%, 70% 78%, 35% 100%, 0% 78%)
            position: absolute
            z-index: 3
        #lil_cell_2 
            width: inherit
            height: inherit
            background: radial-gradient(3693.69% 487.92% at 88.04% 84.26%, #201502 0%, #C7830A 100%)
            box-shadow: 0px 4px 4px #000000, inset -1px -1px 1px rgba(242, 159, 13, 0.9)
            filter: blur(4px)
            border-radius: 2px
            clip-path: polygon(35% 0%, 70% 22%, 70% 78%, 35% 100%)
            position: absolute
            z-index: 4
    .wrap3  /* 3-4 cell */
        width: 50px
        height: 70px
        #big_cell3 
            width: inherit
            height: inherit 
            background: radial-gradient(3930.52% 4900.58% at 89.71% 72.89%, rgba(0, 0, 0, 0.8) 0%, rgba(33, 22, 2, 0.8) 0.01%, rgba(172, 113, 9, 0.8) 100%)
            box-shadow: inset -2px 0px 1px rgba(235, 154, 12, 0.5), inset 2px 2px 16px rgba(242, 159, 13, 0.2) 
            clip-path: polygon(0% 40%, 35% 18%, 70% 40%, 35% 62%)
            position: absolute
            z-index: 5
        #lil_cell3 
            width: inherit
            height: inherit
            background: radial-gradient(5528.36% 3005.63% at 74.43% 75.84%, rgba(0, 0, 0, 0.9) 0%, rgba(33, 22, 2, 0.9) 0.01%, rgba(172, 113, 9, 0.9) 100%)
            box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 10px rgba(242, 159, 13, 0.2)
            clip-path: polygon(0% 40%, 35% 18%, 70% 40%, 70% 78%, 35% 100%, 0% 78%)
            position: absolute
            z-index: 3
        #lil_cell_23 
            width: inherit
            height: inherit
            background: radial-gradient(4314.93% 661.69% at 88.04% 84.26%, #201502 6.25%, #C7830A 100%)
            box-shadow: 0px 4px 4px #000000, inset -2px -1px 1px rgba(255, 255, 255, 0.2)
            filter: blur(5px)
            border-radius: 2px
            clip-path: polygon(35% 18%, 70% 40%, 70% 78%, 35% 100%)
            position: absolute
            z-index: 4
    .wrap2  /* 1-2 cell */
        width: 50px
        height: 70px
        #big_cell2 
            width: inherit
            height: inherit 
            background: radial-gradient(3930.52% 4900.58% at 89.71% 72.89%, rgba(0, 0, 0, 0.9) 0%, rgba(35, 22, 0, 0.9) 0.01%, rgba(112, 92, 94, 0.9) 100%)
            box-shadow: inset -2px 0px 2px rgba(255, 255, 255, 0.2), inset 2px 2px 16px rgba(93, 116, 141, 0.6)
            filter: blur(1px)
            clip-path: polygon(0% 55%, 35% 33%, 70% 55%, 35% 77%)
            position: absolute
            z-index: 1
        #lil_cell2 
            width: inherit
            height: inherit
            background: radial-gradient(5752.25% 5190.32% at 74.43% 60.32%, rgba(0, 0, 0, 0.9) 0%, rgba(35, 22, 0, 0.9) 0.01%, rgba(112, 92, 94, 0.9) 100%)
            box-shadow: inset -1px 0px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 10px rgba(93, 116, 141, 0.6)
            border-radius: 4px 
            clip-path: polygon(0% 55%, 35% 33%, 70% 55%, 70% 78%, 35% 100%, 0% 78%)
            position: absolute
            z-index: -3
        #lil_cell_22 
            width: inherit
            height: inherit
            background: radial-gradient(3930.52% 7733.51% at 119.12% 42.45%, rgba(0, 0, 0, 0.9) 0%, rgba(35, 22, 0, 0.9) 0.01%, rgba(112, 92, 94, 0.9) 100%)
            box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 16px rgba(93, 116, 141, 0.6)
            filter: blur(2px)
            border-radius: 2px
            clip-path: polygon(35% 33%, 70% 55%, 70% 78%, 35% 100%)
            position: absolute
            z-index: -1
    .wrap4  /* 0 cell */
        width: 50px
        height: 70px
        #big_cell4 
            width: inherit
            height: inherit 
            background: radial-gradient(1882.99% 2870.78% at 89.71% 72.89%, rgba(62, 57, 52, 0.7) 0%, rgba(34, 31, 28, 0.7) 100%)
            box-shadow: inset -2px 0px 2px rgba(236, 234, 233, 0.15)
            filter: blur(1px)
            clip-path: polygon(0% 68%, 35% 46%, 70% 68%, 35% 88%)
            position: absolute
            z-index: 1
        #lil_cell4 
            width: inherit
            height: inherit
            background: radial-gradient(3906.1% 3815.36% at 89.06% 78.28%, rgba(19, 17, 16, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%)
            box-shadow: inset -1px 0px 2px rgba(255, 255, 255, 0.2), inset 1px 1px 16px rgba(112, 102, 94, 0.2)
            border-radius: 2px 
            clip-path: polygon(0% 68%, 35% 46%, 70% 68%, 70% 78%, 35% 100%, 0% 78%)
            position: absolute
            z-index: -3
        #lil_cell_24 
            width: inherit
            height: inherit
            background: radial-gradient(8551.66% 17562.62% at 35.77% 44.63%, rgba(58, 53, 48, 0.8) 0.01%, rgba(73, 66, 61, 0.8) 100%)
            box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 16px rgba(112, 102, 94, 0.2)
            border-radius: 2px
            filter: blur(2px)
            clip-path: polygon(35% 46%, 70% 68%, 70% 78%, 35% 100%)
            position: absolute
            z-index: -1

@media screen and (max-width: 320px)
    #grid 
        height: 454px
        margin: 3rem auto
        padding: 0 0.8rem 0 0.8rem

        .column 
            margin-left: 0.05rem
            width: 12.86%
            height: auto
            display: flex
            flex-direction: column

            .cell
                height: 19% 
        
        .column :nth-child(2n + 2) 
            margin: -0.9rem 0 -0.9rem 1.2rem

@media screen and (min-width: 568px) and (max-height: 320px) and (orientation: landscape)
    #grid
        height: 234px
        margin: 3rem auto

    #grid :nth-child(2n + 2) 
        margin: -3rem 1.3rem -3rem 1.3rem   /* diffrent */

        .activeGrid  
            height: 234px
            margin: 3rem auto      
            .line 
                height: 40px
                .wrap, .wrap2, .wrap3, .wrap4 
                    width: 15px
                    height: 35px

@media screen and (min-width: 321px) and (max-width: 414px)

@media screen and (min-width: 736px) and (max-height: 414px) and (orientation: landscape)

@media screen and (min-width: 768px) and (max-device-width : 1024px) and (orientation: portrait)

@media screen and (min-width: 1024px) and (max-device-height : 768px) and (orientation: landscape)

@media screen and (min-width: 1366px) and (max-width: 1890px)

@media screen and (min-width: 1920px)