:root
    --theme: "_dark"
    --num_of_color: 0

#diagram    
    margin: 0
    padding: 0
    width: 100%
    height: 100%

    #diagram_h1
        width: 70%
    #diagram_p
        width: 70%
        color: #BFBFBF

    .diagram
        width: 90%
        margin: 1rem auto
        .out_circle
            .first_piece, .second_piece, .third_piece, .forth_piece
                position: absolute
                .side_part 
                    position: absolute
                    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
                    border-top-left-radius: 6px
                    border-bottom-left-radius: 6px
                .color_cov
                    border-radius: 50%
                .round_part
                    position: absolute
                    border: 2px solid transparent
                    border-radius: 50%
            .first_piece
                .color_cov, .round_part
                    clip-path: polygon(0% 50%, 50% 50%, 50% 0%, 0% 0%)

            .second_piece
                .color_cov, .round_part
                    clip-path: polygon(100% 50%, 50% 50%, 50% 0%, 100% 0%)

            .third_piece
                .color_cov, .round_part
                    clip-path: polygon(50% 100%, 50% 50%, 100% 50%, 100% 100%)

            .forth_piece
                .color_cov, .round_part
                    clip-path: polygon(50% 100%, 50% 50%, 0% 50%, 0% 100%)
                
        .white_circle
            background-color: white
            border-radius: 50%
            position: absolute
            .center
                display: flex
                flex-direction: column
                justify-content: center
                text-align: center
        
    .stat
        display: flex
        flex-direction: column
        .stat_item
            display: flex
            justify-content: space-between
            align-items: center
            .color 
                border-radius: 50%
            .str
                color: #261C00
                font-weight: bold
            .count_wrap
                display: flex
                .counter 
                    color: #BFBFBF

.diagram_light 
    background-color: white
    .diagram
        .out_circle          
            .class_color1
                background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 184, 0, 0.56) 81.25%, rgba(255, 239, 153, 0.32) 100%)
            .side_part1
                background-color: rgba(255, 184, 0, 0.56)
            .round_part1
                border-color: rgba(255, 239, 153, 0.42)
            
            .class_color2
                background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 184, 0, 0.24) 81.25%, rgba(255, 239, 153, 0.12) 100%)
            .side_part2
                background: rgba(255, 184, 0, 0.24)
            .round_part2
                border-color: rgba(255, 239, 153, 0.22)
            
            .class_color3
                background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(166, 166, 166, 0.3725) 82.81%, rgba(203, 203, 203, 0.05) 92.19%)
            .side_part3
                background-color: rgba(166, 166, 166, 0.3725)
            .round_part3
                border-color: rgba(203, 203, 203, 0.1)
            
            .class_color4
                background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(191, 191, 191, 0.345) 82.81%, rgba(228, 228, 228, 0.1) 92.19%)
            .side_part4
                background-color: rgba(191, 191, 191, 0.445)
            .round_part4
                border-color: rgba(228, 228, 228, 0.2)
        
        
.diagram_dark
    background: radial-gradient(70.24% 70.24% at 49.87% 29.76%, rgba(18, 12, 1, 0.9) 0%, #000000 100%)
    .diagram
        .out_circle
            .class_color1
                background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 163, 0, 0.8) 71.88%, rgba(91, 58, 0, 0.8) 100%)
                box-shadow: 0px 0px 20px -8px rgba(248, 158, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 162, 0, 0.9)
            .class_color2
                background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(99, 63, 0, 0.5) 72.92%, rgba(15, 9, 0, 0.5) 100%)
                box-shadow: 0px 0px 20px -8px rgba(147, 93, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(202, 129, 0, 0.9)
            .class_color3
                background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(155, 155, 155, 0.5) 71.88%, rgba(56, 41, 0, 0.5) 100%)
                box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(139, 139, 139, 0.9)
            .class_color4
                background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(77, 77, 77, 0.5) 71.88%, rgba(56, 41, 0, 0.5) 100%)
                box-shadow: 0px 0px 20px -8px rgba(96, 96, 96, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(38, 38, 38, 0.9)  


@media screen and (max-width: 320px)
    /* vertical */
    #diagram_h1 
       font-size: 25px
       margin: 1rem 0 0 1rem
    #diagram_p 
       margin-left: 1rem 
    
    .diagram
        height: 280px

        .out_circle
            margin: 1rem auto
            .first_piece, .second_piece, .third_piece, .forth_piece 
                .side_part 
                    width: 5px
                    height: 42px
                .color_cov, .round_part  
                    width: 280px
                    height: 280px
            
            .first_piece
                .left 
                    margin-top: 1.6rem
                    margin-left: 4.5rem
                    transform: rotate(-39deg)
                .right 
                    margin-top: 1.1rem
                    margin-left: 12.6rem
                    transform: rotate(213deg)
                
            .second_piece 
                .left 
                    margin-top: 1.4rem
                    margin-left: 13.05rem
                    transform: rotate(37deg)
                .right 
                    margin-top: 8.8rem
                    margin-left: 16.4rem
                    transform: rotate(278deg)

            .third_piece 
                .left 
                    margin-top: 13.1rem
                    margin-left: 5.2rem
                    transform: rotate(-143deg)
                .right 
                    margin-top: 2.2rem
                    margin-left: 4.1rem
                    transform: rotate(132deg)

            .forth_piece 
                .left 
                    margin-top: 13.55rem
                    margin-left: 5.9rem
                    transform: rotate(27deg)
                .right 
                    margin-top: 9.5rem
                    margin-left: 16.05rem
                    transform: rotate(110deg)
        
        .white_circle
            width: 196px
            height: 196px
            margin: 2.8rem 0 0 2.8rem
            .center
                width: 80%
                margin: 3rem auto
                h1
                    font-size: 19px
                    margin-left: 0
                p
                    font-size: 16px
    .stat
        width: 85%
        margin: 1rem auto
        .stat_item
            width: 100%
            margin: 0.2rem auto
            .color  
                width: 18px
                height: 18px
                margin-top: -0.4rem
                
            .str
                font-size: 18px
                padding: 0 0 0 0.5rem
                width: 60%
                margin-bottom: 0.5rem
                
            .count_wrap
                width: 10%
                .counter 
                    font-size: 18px
                    margin-left: 0.5rem
            
        hr
            width: 310px
            margin: 0.5 auto            

@media screen and (min-width: 568px) and (max-height: 320px) and (orientation: landscape)

@media screen and (min-width: 321px) and (max-width: 414px)
    /* vertical */
    #diagram_h1 
       font-size: 28px
       margin: 1rem 0 0 1rem
    #diagram_p 
       margin-left: 1rem 
       margin-bottom: 2rem
       font-size: 24px
    
    .diagram
        height: 390px

        .out_circle
            margin: 1rem auto
            .first_piece, .second_piece, .third_piece, .forth_piece
                .side_part 
                    width: 5px
                    height: 59px
                .color_cov, .round_part 
                    width: 390px
                    height: 390px

            .first_piece
                .left 
                    margin-top: 2.2rem
                    margin-left: 6.2rem
                    transform: rotate(-37deg)
                .right 
                    margin-top: 1.7rem
                    margin-left: 17.5rem
                    transform: rotate(210deg)
                
            .second_piece 
                .left 
                    margin-top: 2rem
                    margin-left: 18rem
                    transform: rotate(34deg)
                .right 
                    margin-top: 12.4rem
                    margin-left: 22.15rem
                    transform: rotate(280deg)
            
            .third_piece 
                .left 
                    margin-top: 18.6rem
                    margin-left: 6.6rem
                    transform: rotate(-143deg)
                .right 
                    margin-top: 3rem
                    margin-left: 5.1rem
                    transform: rotate(130deg)
            
            .forth_piece 
                .left 
                    margin-top: 19.3rem
                    margin-left: 7.9rem
                    transform: rotate(27deg)
                .right 
                    margin-top: 13.4rem
                    margin-left: 21.75rem
                    transform: rotate(108deg)


        .white_circle
            width: 273px
            height: 273px
            margin: 3.8rem 0 0 3.8rem
            .center
                width: 80%
                margin: 3rem auto
                h1
                    font-size: 28px
                    margin-left: 0
                p
                    font-size: 22px
    
    .stat
        width: 90%
        margin: 1.5rem auto
        .stat_item
            width: 100%
            margin: 0.2rem auto
            .color  
                width: 18px
                height: 18px
                margin-top: -0.4rem
            
            .str
                font-size: 20px
                padding: 0 0 0 0.5rem
                width: 60%
                margin-bottom: 0.5rem

            .count_wrap
                width: 10%
                .counter 
                    font-size: 20px
                    margin-left: 0.3rem
            
        hr
            width: 404px
            margin: 0.5 auto

@media screen and (min-width: 736px) and (max-height: 414px) and (orientation: landscape)

@media screen and (min-width: 768px) and (max-device-width : 1024px) and (orientation: portrait)
    /* vertical */
    #diagram_h1 
       font-size: 32px
       margin-left: 1rem
       margin-bottom: -0.2rem
    #diagram_p 
       margin-left: 1rem 
       margin-bottom: -0.5rem
       font-size: 30px
    
    .diagram
        height: 610px

        .out_circle
            margin: 0 auto
            .first_piece, .second_piece, .third_piece, .forth_piece
                .side_part 
                    width: 5px
                    height: 91px
                .color_cov, .round_part  
                    width: 610px
                    height: 610px

            .first_piece
                .left 
                    margin-top: 2.2rem
                    margin-left: 6.2rem
                    transform: rotate(-37deg)
                .right 
                    margin-top: 1.7rem
                    margin-left: 17.5rem
                    transform: rotate(210deg)
                
            .second_piece 
                .left 
                    margin-top: 2rem
                    margin-left: 18rem
                    transform: rotate(34deg)
                .right 
                    margin-top: 12.4rem
                    margin-left: 22.15rem
                    transform: rotate(280deg)
            
            .third_piece 
                .left 
                    margin-top: 18.6rem
                    margin-left: 6.6rem
                    transform: rotate(-143deg)
                .right 
                    margin-top: 3rem
                    margin-left: 5.1rem
                    transform: rotate(130deg)
            
            .forth_piece 
                .left 
                    margin-top: 19.3rem
                    margin-left: 7.9rem
                    transform: rotate(27deg)
                .right 
                    margin-top: 13.4rem
                    margin-left: 21.75rem
                    transform: rotate(108deg)

        .white_circle
            width: 427px
            height: 427px
            margin: 6rem 0 0 6rem
            .center
                width: 80%
                margin: 3rem auto
                h1
                    font-size: 28px
                    margin-left: 0
                p
                    font-size: 22px
    
    .stat
        width: 90%
        margin: 1.5rem auto
        .stat_item
            width: 100%
            margin: 0.5rem auto
            .color  
                width: 28px
                height: 28px
                margin-top: -0.4rem
            
            .str
                font-size: 30px
                padding: 0 0 0 0.5rem
                width: 60%
                margin-bottom: 0.5rem

            .count_wrap
                width: 10%
                .counter 
                    font-size: 30px
                    margin-left: 0.8rem
            
        hr
            width: 744px
            margin: 0.5 auto

@media screen and (min-width: 1024px) and (max-device-height : 768px) and (orientation: landscape)

@media screen and (min-width: 1366px) and (max-width: 1890px)

@media screen and (min-width: 1920px)






                
    