#leaders 
    margin: 0
    padding: 0
    width: 100%
    height: 100%

    #leaders_h1                   
       width: 70%
    #leaders_p 
       width: 70%

    
    .winners 
        display: flex
        width: 95%

        .winner_item 
            flex-direction: column
            height: auto
            justify-content: flex-end

            .wrapper
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                .emodji
                    position: absolute
                    z-index: 1
                .pic
                    position: relative
                    background-position: center
                    background-size: cover
                    border-radius: 100px
                p
                    text-align: center
                    font-weight: 500

            .win_place
                width: 100%  /* 120px */
                border-radius: 6px
                #num5, #num3, #num1, #num2, #num4
                    width: 87%
                    height: 100%
                    text-align: center
                    font-weight: bold
                    font-size: 700
        #item1
            z-index: 1
            .place_1
                #num1
                    margin: 0 auto
        #item2
            z-index: -5
            .place_2
                #num2
                    margin-top: 0
        #item3
            .place_3
                #num3
                    margin-top: 0
                    margin-left: 0

.theme_light 
    background-color: white
    #leaders_p
        color: #BFBFBF

.theme_dark
    background: radial-gradient(70.24% 70.24% at 49.87% 29.76%, rgba(18, 12, 1, 0.9) 0%, #000000 100%)
    #leaders_h1
        color: white
    #leaders_p
        color: #918F8A

.leaders_light
    .winner_item
        .wrapper
            p
                color: rgb(38, 28, 0, 1)
            #age
                color: #BFBFBF

        .win_place
            color: #261C00
    #item1
        .place_1
            background: linear-gradient(180deg, #FFF2D1 0.82%, #FFD66C 100%)
    #item2 
        .place_2
            background: linear-gradient(180deg, rgba(244, 244, 244, 0.9) 0.82%, #E9E9E9 100%, rgba(234, 234, 234, 0) 100%)
    #item3 
        .place_3
            background: linear-gradient(180deg, rgba(244, 244, 244, 0.9) 0.82%, #E9E9E9 100%, rgba(234, 234, 234, 0) 100%)

.leaders_dark
    .winner_item
        .wrapper
            .pic
                filter: grayscale(100%)
            p
                color: white
            #age
                color: #918F8A

        .win_place
            color: white
    #item1
        .place_1 
            background: radial-gradient(91.67% 122.17% at 69.17% -11.17%, #FFA300 0%, #2D1C00 100%)
    #item2 
        .place_2
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) -2.22%, rgba(0, 0, 0, 0.8) 100%), radial-gradient(149.08% 95.38% at 38.75% 71.48%, #000000 0%, #231900 0.01%, #4D4D4D 100%)
    #item3 
        .place_3
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) -2.22%, rgba(0, 0, 0, 0.8) 100%), radial-gradient(149.08% 95.38% at 38.75% 71.48%, #000000 0%, #231900 0.01%, #4D4D4D 100%)


@media screen and (max-width: 320px)
    /* vertical */
    #leaders_h1 
       margin: 1rem 0 0 1rem
    #leaders_p 
       margin-left: 1rem
    .winners 
        margin: 1rem 1.5rem 0 1.5rem
    
        #item5, #item4 
            display: none
        
        .winner_item 
            width: 33% 
            margin-bottom: 0
            display: flex
            
            .wrapper 
                width: 86.7% 
                height: 162px 

                .emodji
                    margin-top: -9rem
                .pic
                    margin: 1rem auto
                    width: 80%  
                    height: 40% 
                p
                    width: 80%
                    margin: -0.5rem auto
                    text-align: center
                    font-size: 14px
                    margin-bottom: 0.5rem
                #age
                    margin-bottom: 0.5rem

            .win_place
                display: flex
                justify-content: flex-start
                z-index: -1
                #num3, #num1, #num2
                    padding-top: 0.5rem

        #item1 
            margin-left: -16px   
            align-items: center
            .place_1
                height: 295px 
        #item2
            margin-left: -16px  
            .wrapper
                margin-left: 11px   
            .place_2
                height: 245px
                #num2
                    margin-left: 13%
        #item3
            .wrapper
                margin-left: -0.2rem
                p
                    text-align: center
                    margin-left: 0
            .place_3
                height: 195px

@media screen and (min-width: 568px) and (max-height: 320px) and (orientation: landscape)
    /* horizontal */
    #leaders_h1 
        font-size: 24px
        margin: 0 auto
        text-align: center
    #leaders_p
        font-size: 14px
        margin: 0.8rem auto
        text-align: center
    .winners 
        margin: 0.5rem 1rem 0 1rem
        height: 260px

        .winner_item 
            width: 23% 
            margin-bottom: 0
            display: flex

            .wrapper 
                width: 86.7% 
                height: 152px 

                .emodji
                    width: 21px
                    height: 21px
                    margin-top: -8rem    
                .pic
                    margin: 1rem auto
                    width: 60%  
                    height: 40% 
                p
                    width: 80%
                    margin: -0.5rem auto
                    font-size: 12px
                    margin-bottom: 0.5rem
                #age
                    font-size: 12px
                    margin-bottom: 0.5rem
            
            .win_place
                display: flex
                justify-content: flex-start
                z-index: -1
                #num5, #num3, #num1, #num2, #num4
                    font-size: 21px
                    padding-top: 0.5rem
        
        #item1 
            margin-left: -16px   
            align-items: center
            .place_1
                height: 88px
        #item2
            margin-left: -16px  
            .wrapper
                margin-left: 14px   
            .place_2
                height: 68px
                #num2
                    margin-left: 13%
        #item3
            .wrapper
                p
                    text-align: center
            .place_3
                height: 68px
        #item4
            margin-left: -16px
            .wrapper
                margin-left: 16px 
            .place_4
                height: 48px
                #num4
                    margin-left: 13%
        #item5
            margin-right: -16px
            .wrapper
                margin-right: -16px   
            .place_5
                height: 48px
                #num5
                    margin: 0 auto

@media screen and (min-width: 321px) and (max-width: 414px) 
    /* vertical */
    #leaders_h1 
        margin: 1rem 0 0 0.5rem
        width: 80% 
    #leaders_p 
        margin-top: 0.5rem
        margin-left: 0.5rem

    .winners 
        margin: 2rem 1rem 0 1rem

        #fifth, #forth 
            display: none
        
        .winner_item 
            width: 36% 
            margin-bottom: 0
            display: flex

            .wrapper 
                width: 86.7% 
                height: 210px  

                .emodji
                    margin-top: -10rem
                .pic
                    margin: 1rem auto
                    width: 70%  
                    height: 40%  
                p
                    width: 80%
                    margin: -0.5rem auto
                    font-size: 16px
                    margin-bottom: 0.5rem

            .win_place
                display: flex
                justify-content: flex-start
                z-index: -1
                #num3, #num1, #num2
                    padding-top: 1rem

        #item1 
            margin-left: -22px   
            align-items: center
            .place_1
                height: 371px 
        #item2
            margin-left: -22px  
            .wrapper
                margin-left: 22px   
            .place_2
                height: 306px
                #num2
                    margin-left: 13%
        #item3
            .place_3    
                height: 242px

@media screen and (min-width: 736px) and (max-height: 414px) and (orientation: landscape)
    /* horizontal work dont know why */
    #leaders_h1
        font-size: 32px
        margin: 1rem auto
        text-align: center
    #leaders_p
        font-size: 21px
        margin: 0.5rem auto
        text-align: center
    .winners 
        margin: 2rem 0.8rem 0 0.8rem
        height: 310px

        .winner_item 
            width: 24% 
            margin-bottom: 0
            display: flex

            .wrapper 
                width: 86.7% 
                height: 162px 

                .emodji
                    margin-top: -8.5rem
                .pic
                    margin: 1rem auto
                    width: 50%  
                    height: 40% 
                p
                    width: 80%
                    margin: -0.5rem auto
                    font-size: 16px
                    margin-bottom: 0.5rem
                #age
                    font-size: 16px
                    margin-bottom: 0.5rem
            
            .win_place
                display: flex
                justify-content: flex-start
                z-index: -1
                #num5, #num3, #num1, #num2, #num4
                    font-size: 24px
                    padding-top: 0.5rem

        #item1 
            margin-left: -20px   
            align-items: center
            .place_1
                height: 98px
        #item2
            margin-left: -20px  
            .wrapper
                margin-left: 20px   
            .place_2
                height: 78px
                #num2
                    margin-left: 13%
        #item3
            .wrapper
                p
                    text-align: center
            .place_3
                height: 78px
        #item4
            margin-left: -20px
            .wrapper
                margin-left: 20px 
            .place_4
                height: 58px
                #num4
                    margin-left: 13%
        #item5
            margin-right: -20px
            .wrapper
                margin-right: -20px   
            .place_5
                height: 58px
                #num5
                    margin-right: 13%

@media screen and (min-width: 768px) and (max-device-width : 1024px) and (orientation: portrait)
    /* vertical */
    #leaders_h1 
        font-size: 48px
        width: 80%
        margin: 1rem 0 0.5rem 1.5rem
    #leaders_p
        font-size: 32px
        margin-left: 1.5rem

    .winners
        margin: 2rem 1rem 0 1.5rem
        padding-left: 1rem

        #fifth, #forth 
            display: none

        .winner_item 
            width: 34% 
            margin-bottom: -10px
            display: flex

            .wrapper 
                width: 86.7% 
                height: 369px  

                .emodji
                    margin-top: -17rem
                .pic
                    margin: 1.5rem auto
                    width: 70%  
                    height: 40%  
                p
                    width: 80%
                    margin: 0 auto
                    font-size: 28px
                    margin-bottom: 1.5rem 
                #age
                    font-size: 28px
            
            #leaders .win_place
                display: flex
                justify-content: flex-start
                z-index: -1
                #num3, #num1, #num2
                    padding-top: 1.5rem
                    font-size: 28px

        #item1 
            margin-left: -30px   
            align-items: center
            .place_1
                height: 456px 
        #item2
            margin-left: -30px 
            .wrapper
                margin-left: 30px  
            .place_2
                height: 366px
                #num2
                    margin-left: 13%
        #item3
            .place_3    
                height: 286px

@media screen and (min-width: 1024px) and (max-device-height : 768px) and (orientation: landscape)
    /* horizontal not work properly*/
    #leaders_h1
        width: 80%
        font-size: 48px 
        margin-bottom: 1rem
    #leaders_p
        font-size: 32px 

    .winners
        margin: 6rem 1.5rem 0 1.5rem

        .winner_item
            .wrapper 
                height: 389px 
                .pic
                    width: 60% 
                    height: 30%
                p
                    width: 70%
                    margin: 0 auto
                    font-size: 28px 
                    margin-bottom: 1.3rem 
                #age
                    font-size: 28px 


            .win_place
                margin-bottom: 0
                #num5, #num3, #num1, #num2, #num4
                    font-size: 28px
        #item1
            .place_1
                height: 190px 
        #item2
            .place_2
                height: 160px
                margin-bottom: 0
        #item3
            .place_3
                height: 160px
        #item4
            .place_4
                height: 120px
        #item5
            .place_5
                height: 120px

@media screen and (min-width: 1366px) and (max-width: 1890px)
    #leaders_h1
        font-size: 64px 
        margin: 1rem auto 
        text-align: center
    #leaders_p
        font-size: 32px 
        margin: 0.5rem auto
        text-align: center
    .winners 
        margin: 5rem 2rem 0 2rem 

        .winner_item 
            width: 23% 
            margin-bottom: 0
            display: flex

            .wrapper 
                width: 86.7% 
                height: 292px 

                .emodji
                    margin-top: -16rem
                .pic
                    margin: 1rem auto
                    width: 50%  
                    height: 40% 
                p
                    width: 80%
                    margin: -0.5rem auto
                    font-size: 32px
                    margin-bottom: 0.5rem
                #age
                    font-size: 32px
                    margin-bottom: 0.5rem
            
            .win_place
                display: flex
                justify-content: flex-start
                z-index: -1
                #num5, #num3, #num1, #num2, #num4
                    font-size: 32px
                    padding-top: 0.5rem

        #item1 
            margin-left: -20px   
            align-items: center
            .place_1
                height: 228px
        #item2
            margin-left: -20px  
            .wrapper
                margin-left: 13%   
            .place_2
                height: 188px
                #num2
                    margin-left: 13%
        #item3
            .wrapper
                p
                    text-align: center
            .place_3
                height: 188px
        #item4
            margin-left: -20px
            .wrapper
                margin-left: 13% 
            .place_4
                height: 138px
                #num4
                    margin-left: 13%
        #item5
            margin-right: -20px
            .wrapper
                margin-right: -20px   
            .place_5
                height: 138px
                #num5
                    margin-right: 13%

@media screen and (min-width: 1920px)
    #leaders_h1
        font-size: 72px 
        margin: 1rem auto 
        text-align: center
    #leaders_p
        font-size: 42px 
        margin: 0.5rem auto
        text-align: center
    .winners 
        margin: 9rem 2.5rem 0 2.5rem 

        .winner_item 
            width: 23% 
            margin-bottom: 0
            display: flex

            .wrapper 
                width: 86.7% 
                height: 372px 

                .emodji
                    margin-top: -19rem
                .pic
                    margin: 1rem auto
                    width: 50%  
                    height: 40% 
                p
                    width: 80%
                    margin: -0.5rem auto
                    font-size: 42px
                    margin-bottom: 1rem
                #age
                    font-size: 32px
                    margin-bottom: 0.5rem
            
            .win_place
                display: flex
                justify-content: flex-start
                z-index: -1
                #num5, #num3, #num1, #num2, #num4
                    font-size: 42px
                    padding-top: 1.5rem

        #item1  
            margin-left: -20px   
            align-items: center
            .place_1
                height: 318px
        #item2
            margin-left: -20px  
            .wrapper
                margin-left: 13%   
            .place_2
                height: 278px
                #num2
                    margin-left: 13%
        #item3
            .wrapper
                p
                    text-align: center
            .place_3
                height: 278px
        #item4
            margin-left: -20px
            .wrapper
                margin-left: 13% 
            .place_4
                height: 228px
                #num4
                    margin-left: 13%
        #item5
            margin-right: -20px
            .wrapper
                margin-right: -20px   
            .place_5
                height: 228px
                #num5
                    margin-right: 13% 
                
                    



                    
            
